<div id="flexbox">
  <div id="login">
    <!-- <div class="img">
        <ion-img src="assets/login.png"></ion-img>
      </div> -->
    <h3>Inicio de sesión</h3>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input required formControlName="correo" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Clave </ion-label>
        <ion-input required formControlName="clave" type="password"></ion-input>
      </ion-item>

      <div class="btnConteiner">
        <ion-fab-button
          color="primary"
          type="submit"
          [disabled]="formLogin.invalid || loading"
          (click)="onSubmit()"
        >
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="nav.navigateForward('/registro')">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </form>
    <div class="access">
      <ion-text color="dark">
        <h5>Ingreso rápido:</h5>
      </ion-text>
      <div class="center">
        <div class="gridBtn3">
          <ion-button
            block
            color="danger"
            (click)="fastAccess('usuario@usuario.com', '333333')"
            [disabled]="formLogin.disabled"
          >
            Usuario
          </ion-button>
          <ion-button
            block
            color="secondary"
            (click)="fastAccess('admin@admin.com', '111111')"
            [disabled]="formLogin.disabled"
          >
            Admin
          </ion-button>
          <ion-button
            block
            color="tertiary"
            (click)="fastAccess('invitado@invitado.com', '222222')"
            [disabled]="formLogin.disabled"
          >
            Invitado
          </ion-button>
        </div>

        <div class="gridBtn2">
          <ion-button
            block
            color="success"
            (click)="fastAccess('tester@tester.com', '555555')"
            [disabled]="formLogin.disabled"
          >
            Tester
          </ion-button>
          <ion-button
            block
            color="warning"
            (click)="fastAccess('anonimo@anonimo.com', '444444')"
            [disabled]="formLogin.disabled"
          >
            Anonimo
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
